IMAGEKIT_PRIVATE_KEY="your private key here"
VITE_IMAGEKIT_PUBLIC_KEY="your public key here"
VITE_IMAGEKIT_URL_ENDPOINT="your url endpoint here"
VITE_AUTH0_DOMAIN="your auth0 domain here"
VITE_AUTH0_CLIENT_ID="your auth0 client id here"
