DATABASE_URL="your database url here"
IMAGEKIT_PRIVATE_KEY="your private key here"
# Client vars MUST use NEXT_PUBLIC_ prefix to be available in the browser
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY="your public key here"
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="your url endpoint here"
NEXT_PUBLIC_AUTH0_DOMAIN="your auth0 domain here"
NEXT_PUBLIC_AUTH0_CLIENT_ID="your auth0 client id here"
